<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save the Date</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <div class="header">
        <h1 class="header text-light">Lyna & Hugh</h1>
        <h2 class="text-light">#NgoPhoKingWei</h2>
    </div>
        <h1 class="center">Forgot the Secret Password?</h1>
        <h4 class="contact">If you are on the guest list, please contact Lyna or Hugh for the password and we will get back to you as soon as possible. 
            If you don't know how to contact them, then you're probably not on the list.</h4>
    </div>
    <div class="center mt-3">
        <a href="/" style="font-size:1vw;" class="btn btn-light">Go Back</a>
    </div>
</body>
</html>
