<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="header">
            <h1 class="header">Lyna & Hugh</h1>
            <h2>#NgoPhoKingWei</h2>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-around" style="background-color: #e3f2fd;">
            <a href="/home" class="navbar-brand">Home</a>
            <a href="/schedule" class="navbar-brand">Schedule</a>
            <a href="/photos" class="navbar-brand">Photos</a>
            <a href="/wedding-party" class="navbar-brand">Wedding Party</a>
            <a href="/lodging" class="navbar-brand">Lodging</a>
            <a href="/guest-book" class="navbar-brand">Guest Book</a>    
            <a href="/faqs" class="navbar-brand">FAQS</a>
            </nav>
        </div>
        <div class="block">
            <h1>Kindly sign our Guest Book</h1>
            <h5>Leave some well wishes, share some wisdom, a piece of advice, or a funny memory.</h5>
        </div>
        <div class="d-flex justify-content-center pt-4">
            <div class="split-it mt-3 border-right">
                <h3 class="d-flex justify-content-start pb-3">Messages</h3>
                {% for message in all_messages %}
                    <div class="d-flex align-items-center">
                        <p class="bubble">"{{message.message}}"</p>
                        <p> -{{message.name}}<p>
                    </div>
                {% endfor %}
            </div>
            <div class="guest-book border-left">
                <form action="/leave/message" method="post">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control guest-book-font" name="name">               
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 col-form-label">Message:</label>
                        <textarea name="message" cols="30" rows="5" class="form-control guest-book-font"></textarea>
                    </div>
                    <button type="submit" value="message" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>