<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="header"><h1 class="header">Lyna & Hugh</h1></div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-around" style="background-color: #e3f2fd;">
            <a href="/home" class="navbar-brand">Home</a>
            <a href="/schedule" class="navbar-brand">Schedule</a>
            <a href="/photos" class="navbar-brand">Photos</a>
            <a href="/wedding-party" class="navbar-brand">Wedding Party</a>
            <a href="/lodging" class="navbar-brand">Lodging</a>
            <a href="/guest-book" class="navbar-brand">Guest Book</a>    
            <a href="/faqs" class="navbar-brand">FAQS</a>
            <a href="/logout" class="navbar-brand">Logout</a>
            </nav>
        </div>
        <div class="block">
            <h1>Kindly sign our Guest Book</h1>
            <h5>Leave some well wishes, share some wisdom, a piece of advice, or a funny memory.</h5>
        </div>
        <div class="d-flex pt-4 justify-content-around">
            <div>
                <h3>Messages</h3>
                <table>
                    <thead>
                        <tr></tr>
                        <tr></tr>
                    </thead>
                    <tbody>
                        {% for one_message in all_messages %}
                            <tr>
                                <td>Message: {{one_message.message}}</td>
                                <td> - {{one_message.creator.first_name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <form action="/leave/message" method="post" class="form-inline pt-4 justify-content-center">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="form-group mb-2">
                        <label for="message" class="col-sm-2 col-form-label">Message:</label>
                        <div class="col-lg-10">
                            <textarea name="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>                
                    </div>
                    <button type="submit" value="message" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>