<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lodging</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="header">
            <h1 class="header">Lyna & Hugh</h1>
            <h2>#NgoPhoKingWei</h2>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-around" style="background-color: #e3f2fd;">
            <a href="/home" class="navbar-brand">Home</a>
            <a href="/schedule" class="navbar-brand">Schedule</a>
            <a href="/photos" class="navbar-brand">Photos</a>
            <a href="/wedding-party" class="navbar-brand">Wedding Party</a>
            <a href="/lodging" class="navbar-brand">Lodging</a>
            <a href="/guest-book" class="navbar-brand">Guest Book</a>    
            <a href="/faqs" class="navbar-brand">FAQS</a>
            </nav>
        </div>
        <div class="block">
            <h1>Lodging</h1>
            <h5>Some recommendations for our guests from far far away.</h5>
        </div>
        <div class="d-flex justify-content-center double-line">
            <div class="split-it border-right">
                <h1>Hyatt Place</h1>
                <h4>Hotel</h4>
                <br>
                <p>1422 Bass Pro Dr.
                Mesa, AZ 85201</p>
                <br>
                <p>1+(480)969-8200</p>
                <br>
                <p>This place is a 5 minute drive from the wedding venue. Down the street, there are a bunch of food places and a shopping plaza.</p>
                <br>
                <a href="https://goo.gl/maps/rSedrpSbCGNskktt5" class="btn btn-info" target="_blank">View</a>
            </div>
            <div class="split-it border-left">
                <h1>Airbnb</h1>
                <h4>House or Rental</h4>
                <br>
                <p>The wedding venue is in Mesa, AZ, but you will love any neighbood that you pick.</p>
                <br>
                <a href="https://www.airbnb.com" class="btn btn-info" target="_blank">View</a>
            </div>
        </div>
    </div>
</body>
</html>