<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="header">
            <h1 class="header">Lyna & Hugh</h1>
            <h2>#NgoPhoKingWei</h2>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-around" style="background-color: #e3f2fd;">
            <a href="/" class="navbar-brand">Home</a>
            <a href="/schedule" class="navbar-brand">Schedule</a>
            <a href="/photos" class="navbar-brand">Photos</a>
            <a href="/wedding-party" class="navbar-brand">Wedding Party</a>
            <a href="/lodging" class="navbar-brand">Lodging</a>
            <a href="/guest-book" class="navbar-brand">Guest Book</a>    
            <a href="/faqs" class="navbar-brand">FAQS</a>
            </nav>
        </div>
        <div class="block">
            <h1>Photos</h1>
            <h5>Look at us. Being all lovey dovey and all.</h5>
        </div>
        <div class="center d-flex align-items-end">
            <img src="{{ url_for('static', filename='pumpkinpatch.jpg') }}" width="21%" height="auto">
            <img src="{{ url_for('static', filename='ouray.jpg') }}" width="21%" height="auto">
            <img src="{{ url_for('static', filename='roadtrip1.jpg') }}" width="21%" height="auto">      
            <img src="{{ url_for('static', filename='hugh2.jpg') }}" width="21%" height="auto">
        </div>
        <div class="center">
            <img src="{{ url_for('static', filename='disneyland.jpg') }}" width="17%" height="auto">
            <img src="{{ url_for('static', filename='iceland.jpg') }}" width="17%" height="auto">
            <img src="{{ url_for('static', filename='engagement2.jpg') }}" width="17%" height="auto">
            <img src="{{ url_for('static', filename='cafemonarch.jpg') }}" width="17%" height="auto">
            <img src="{{ url_for('static', filename='cosplay.jpg') }}" width="17%" height="auto">
            <img src="{{ url_for('static', filename='lyna.jpg') }}" width="17%" height="auto">
        </div>
        <div class="center">
            <img src="{{ url_for('static', filename='lyna2.jpg') }}" width="21%" height="auto">
            <img src="{{ url_for('static', filename='muleypoint.jpg') }}" width="21%" height="auto">
            <img src="{{ url_for('static', filename='hugh.jpg') }}" width="21%" height="auto">
            <img src="{{ url_for('static', filename='camelback.jpg') }}" width="21%" height="auto">
        </div>
        <div class="center">
        </div>
    </div>
</body>
</html>