<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="header">
            <h1 class="header">Lyna & Hugh</h1>
            <h2>#NgoPhoKingWei</h2>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-around" style="background-color: #e3f2fd;">
            <a href="/home" class="navbar-brand">Home</a>
            <a href="/schedule" class="navbar-brand">Schedule</a>
            <a href="/photos" class="navbar-brand">Photos</a>
            <a href="/wedding-party" class="navbar-brand">Wedding Party</a>
            <a href="/lodging" class="navbar-brand">Lodging</a>
            <a href="/guest-book" class="navbar-brand">Guest Book</a>    
            <a href="/faqs" class="navbar-brand">FAQS</a>
            <a href="/logout" class="navbar-brand">Logout</a>
            </nav>
        </div>
        <div class="block">
            <h1>Question: {{question.question}}</h1>
            <div>
                <form action="/reply" method="post" class="form-inline pt-4 justify-content-center">
                    {% with messages = get_flashed_messages(category_filter=['answer']) %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="form-group mb-2 pl-5">
                        
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="answer">
                            <input type="hidden" class="form-control" name="question_id" value={{question.id}}>
                            {#<h1>{{question.id}}</h1>#}
                        </div>                
                    </div>
                    <button type="submit" value="answer" class="btn btn-primary mb-2">Reply</button>
                </form>
            </div>
        </div>
        <div class="block">
                {% for one_answer in all_answers[0] %}
                    <h1>Answer: {{one_answer.answer}}</h1>
                {% endfor %}
        </div>
    </div>
</body>
</html>