<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="header">
            <h1 class="header">Lyna & Hugh</h1>
            <h2>#NgoPhoKingWei</h2>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-around" style="background-color: #e3f2fd;">
            <a href="/" class="navbar-brand">Home</a>
            <a href="/schedule" class="navbar-brand">Schedule</a>
            <a href="/photos" class="navbar-brand">Photos</a>
            <a href="/wedding-party" class="navbar-brand">Wedding Party</a>
            <a href="/lodging" class="navbar-brand">Lodging</a>
            <a href="/guest-book" class="navbar-brand">Guest Book</a>    
            <a href="/faqs" class="navbar-brand">FAQS</a>
            </nav>
        </div>
        <div class="block">
            <h1>Schedule</h1>
            <h5>Here's what to expect on our wedding day.</h5>
            <h5>Printouts of this schedule will also be available at the venue.</h5>
            <h5>We look forward to seeing you there!</h5>
        </div>
        <div class="d-flex justify-content-center px-5 pt-5 double-line">
            <div class="mr-5">
                <p>All events will take place at the Wright House.</p>
                <p>636 W. University Dr.</p>
                <p>Mesa, AZ 85201</p>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.017965114834!2d-111.8474808848014!3d33.42277598078196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872ba78d5309444b%3A0x16cd7b21f0b97291!2sThe%20Wright%20House!5e0!3m2!1sen!2sus!4v1652609475513!5m2!1sen!2sus" 
                width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="d-flex justify-content-center double-line">
            <div class="split-it border">
                <div class="p-5">
                    <h1>Tea Ceremony</h1>
                    <h5>10:00 - 1:00 PM</h5>
                </div>
                <div class="p-5">
                    <h1>Ceremony #2</h1>
                    <h5>4:30 - 5:00 PM</h5>
                </div>
                <div class="p-5">
                    <h1>Cocktail Hour</h1>
                    <h5>5:00 - 6:00 PM</h5>
                </div>
                <div class="p-5">
                    <h1>Reception</h1>
                    <h5>6:00 - 10:00 PM</h5>
                </div>
            </div>
            <div class="split-it border">
                <div class="p-5 mt-3">
                    <p>It's time to get this par-TEA started! Right?</p>
                </div>
                <div class="p-5 my-5">
                    <p>Our relationship just leveled up.</p>
                </div>
                <div class="p-5">
                    <p>There will be a few light bites in addition to cocktails. We don't want our guests to go hangry.</p>
                </div>
                <div class="p-4 mb-3 mt-1">
                    <p>It's been an emotional day, even the cake is in tiers. Time to let loose and have some more fun! Don't worry, we're moving the party into the ballroom for warmth.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>