<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Party</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="header">
            <h1 class="header">Lyna & Hugh</h1>
            <h2>#NgoPhoKingWei</h2>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light justify-content-around" style="background-color: #e3f2fd;">
            <a href="/home" class="navbar-brand">Home</a>
            <a href="/schedule" class="navbar-brand">Schedule</a>
            <a href="/photos" class="navbar-brand">Photos</a>
            <a href="/wedding-party" class="navbar-brand">Wedding Party</a>
            <a href="/lodging" class="navbar-brand">Lodging</a>
            <a href="/guest-book" class="navbar-brand">Guest Book</a>    
            <a href="/faqs" class="navbar-brand">FAQS</a>
            <a href="/logout" class="navbar-brand">Logout</a>
            </nav>
        </div>
        <div class="block">
            <h1>Meet the Wedding Party!</h1>
        </div>
        <div class="d-flex justify-content-center double-line">
            <div class="split-it my-5 border-right">
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin (3).jpg') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Ring Bearer</p>
                </div>
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin (2).jpg') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Groomsman</p>
                </div>
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin5.JPG') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Groomsman</p>
                </div>
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin7.JPG') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Groomsman</p>
                </div>
            </div>
            <div class="split-it my-5 border-left">
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin6.JPG') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Flower Fairy</p>
                </div>
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin (8).jpg') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Bridesmaid</p>
                </div>
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin (1).jpg') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Bridesmaid</p>
                </div>
                <div class="p-3">
                    <img src="{{ url_for('static', filename='brodin (4).jpg') }}" width="40%" height="auto" class="rounded" alt="picture of brodin">
                    <p>Bridesmaid</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>