/*Source: Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,500,500italic,700,700italic,800,800italic,900,900italic);
* {
    font-family: 'Alegreya SC';
    font-size: large;
}
body, html {
    height: 100%;
}
.background {
    background-image: url("background.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
p {
    font-size: 20px;
}
.header {
    width: auto;
    padding: .5%;
    font-size: 60px;
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}
.homeEngagementPic {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.block {
    width: 100%;
    padding: 3%;
    display: inline-block;
    text-align: center;
    border-bottom: 7px double silver;
}
.text-box {
    width: 45%;
    height: auto;
    padding: 1%;
    display: inline-block;
}
.double-line {
    width: 100%;
    padding: 3%;
    display: inline-block;
    border-bottom: 7px double silver;
}
/* padding: top | right | bottom | left */
.split-it {
    width: 40%;
    height: auto;
    padding: 0% 5% 0% 5%;
    display: inline-block;
    text-align: center;
}
/*Source: Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Square+Peg:regular);
.guest-book-font {
    font-family: 'Square Peg';
}
.guest-book {
    width: 40%;
    height: auto;
    padding: 0% 10% 0% 10%;
    margin-top: 2%;
}
.bubble {
    font-family: 'Square Peg';
    font-size: 18px;
    height: auto;
    width: 70%;
    padding: 3%;
    margin-right: 10px;
    background: #E3F2FD;
    border-radius: 40px;
    text-align: center;
}
.sign-in {
    width: 25%;
    height: auto;
    padding: 2%;
    background-color: white;
    border-radius: 18px;
}
.center {
    text-align: center;
}
.contact {
        width: 50%;
        padding: 3%;
        margin-left: 25%;
        margin-right: 10%;
        display: inline-block;
        text-align: center;
        background: #E3F2FD;
        border-radius: 40px;
}